In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
review_data= pd.read_csv('Reviews.csv')
review_data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [3]:
review_data.shape

(568454, 10)

In [4]:
import sqlite3
conn = sqlite3.connect('database.sqlite') # using SQLite Table to read data

Not considering reviews with score= 3, so filtering data for score= 3

In [5]:
filtered_data= pd.read_sql_query(""" SELECT * FROM Reviews WHERE Score != 3 """, conn)

Encode Reviews with Score> 3 with positive and Score< 3 negative rating.

In [6]:
def partition(x):
    if x<3:
        return 0
    return 1

actualScore= filtered_data['Score']
positiveNegative= actualScore.map(partition)
filtered_data['Score']= positiveNegative

In [7]:
filtered_data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,1,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,0,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,1,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,0,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,1,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [8]:
filtered_data['Score'].value_counts()

1    443777
0     82037
Name: Score, dtype: int64

i.e, data is imbalanced

**Data Cleaning:** Remove duplicate data rows

It is necessary to remove duplicates in order to get unbiased results for the analysis of the data.

In [9]:
filtered_data['UserId'].value_counts().head(10)

A3OXHLG6DIBRW8    425
A1YUL9PCJR3JTY    391
AY12DBB0U420B     365
A281NPSIMI1C2R    346
A1Z54EM24Y40LL    230
A3TVZM3ZIXG8YW    199
A1TMAVN4CEM8U8    196
A3PJZ8TU8FDQ1K    173
A29JUMRL1US6YP    171
A2MUGFV2TDQ47K    161
Name: UserId, dtype: int64

In [10]:
filtered_data[filtered_data['UserId']== 'A3OXHLG6DIBRW8'].head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
338,370,B002O3VHXU,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",1,1,1,1282176000,Very Smooth Coffee - Highly Recommended,"Green Mountain ""Nantucket Blend"" K-Cups make a..."
753,814,B004ET7MG8,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",3,4,0,1272240000,Odd Fake Flavor - Not Recommended,"Trident ""Strawberry Twist"" sugarless gum is ve..."
3034,3307,B005K4Q1VI,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",24,25,1,1321401600,Really Good Hot Cocoa - Highly Recommended,These Grove Square Hot Cocoa flavors are by fa...
3139,3417,B005K4Q1VI,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",5,5,1,1321401600,Really Good Hot Cocoa - Highly Recommended,These Grove Square Hot Cocoa flavors are by fa...
3613,3927,B000VSDFRG,A3OXHLG6DIBRW8,"C. F. Hill ""CFH""",2,2,1,1237161600,Great Diabetic Friendly Candy - Highly Recomme...,"Hershey ""Sugar Free Caramel Filled Chocolates""..."

In [11]:
sorted_data= filtered_data.sort_values('ProductId', axis= 0, na_position= 'last')  #na_position= 'last' means data with NaN will come at last

In [12]:
sorted_data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
138706,150524,0006641040,ACITT7DI6IDDL,shari zychinski,0,0,1,939340800,EVERY book is educational,this witty little book makes my son laugh at l...
138688,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,1,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc..."
138689,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,1,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...
138690,150508,0006641040,AZGXZ2UUK6X,"Catherine Hallberg ""(Kate)""",1,1,1,1076025600,a good swingy rhythm for reading aloud,This is a great little book to read aloud- it ...
138691,150509,0006641040,A3CMRKGE0P909G,Teresa,3,4,1,1018396800,A great way to learn the months,This is a book of poetry about the months of t...

In [13]:
sorted_data.tail()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
176791,191721,B009UOFTUI,AJVB004EB0MVK,D. Christofferson,0,0,0,1345852800,weak coffee not good for a premium product and...,"This coffee supposedly is premium, it tastes w..."
1362,1478,B009UOFU20,AJVB004EB0MVK,D. Christofferson,0,0,0,1345852800,weak coffee not good for a premium product and...,"This coffee supposedly is premium, it tastes w..."
303285,328482,B009UUS05I,ARL20DSHGVM1Y,Jamie,0,0,1,1331856000,Perfect,The basket was the perfect sympathy gift when ...
5259,5703,B009WSNWC4,AMP7K1O84DH1T,ESTY,0,0,1,1351209600,DELICIOUS,Purchased this product at a local store in NY ...
302474,327601,B009WVB40S,A3ME78KVX31T21,K'la,0,0,1,1351123200,Tasty!,I purchased this to send to my son who's away ...

Duplicate entries:

In [14]:
final= sorted_data.drop_duplicates(subset= {'UserId', 'ProfileName', 'Time', 'Text'}, keep= 'first')
final.shape

(364173, 10)

Fraction of original data left unique:

In [15]:
(final['Id'].size*1.0)/(filtered_data['Id'].size*1.0)*100

69.25890143662969

HelpfullnessNumerator must be <= HelpfullnessDenominator if not then remove such rows

In [16]:
final[final.HelpfulnessNumerator > final.HelpfulnessDenominator]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
59301,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,1,1224892800,Bought This for My Son at College,My son loves spaghetti so I didn't hesitate or...
41159,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,1,1212883200,Pure cocoa taste with crunchy almonds inside,It was almost a 'love at first bite' - the per...

In [17]:
final= final[final.HelpfulnessNumerator <= final.HelpfulnessDenominator]
final.shape

In [ ]:
final['score'].value_counts()

**Text Processing:** Stemming, stop-word removal and lemmatization
- In the preprocessing phase we do the following in the order below:
    - begin by removing html tags
    - remove any punctuations or limited set of special characters like , or . or # etc.
    - check if thw word is made up of english letters and is not alpha-numeric.
    - check to see if the length of the word is greater than 2 (as it was researched that there is no adjective in 2-letters)
    - convert all the word to lowercase
    - remove stop-words
    - finally snowball stemming the word( it was observed better than Poter Stemming)

Find sentences containing HTML tags:

In [18]:
import re
i= 0
for sent in final['Text'].values:
    if (len(re.findall('<.*?>', sent))):
        print(i)
        print(sent)
        break
    i+= 1

6
I set aside at least an hour each day to read to my son (3 y/o). At this point, I consider myself a connoisseur of children's books and this is one of the best. Santa Clause put this under the tree. Since then, we've read it perpetually and he loves it.<br /><br />First, this book taught him the months of the year.<br /><br />Second, it's a pleasure to read. Well suited to 1.5 y/o old to 4+.<br /><br />Very few children's books are worth owning. Most should be borrowed from the library. This book, however, deserves a permanent spot on your shelf. Sendak's best.

In [21]:
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer

In [22]:
stop= set(stopwords.words('english'))     # set stop-word
sno= nltk.stem.SnowballStemmer('english') # initialising the snowball stemmer

In [23]:
def cleanhtml(sentence): # function to clean the word of any html-tags
    cleantext= re.sub(r'<.*?>',' ', sentence)
    return cleantext

def cleanpunc(sentence): # function to clean punctuation or special characters
    cleaned= re.sub(r'[?|!|\'|"|#]', r'', sentence)
    cleaned= re.sub(r'[.|,|)|(|\|/]', r' ', sentence)
    return cleaned
# print(f'Stop words are: {stop}')

Stop words are: {'some', 'until', 'ain', 'itself', 'is', 'at', 'it', "mustn't", 'been', 'or', 'won', 'any', 'can', 'while', 'am', 'against', 'having', 'there', 'isn', 'nor', "mightn't", 'more', 'when', 'an', 've', 'don', 'we', 'the', 'very', 'they', 'have', 'hadn', 'how', 'up', 'weren', 'about', 'those', 'from', 'why', 'its', 'over', 'all', 'further', 'theirs', 'whom', 'under', "wasn't", "won't", 'will', 'once', 'now', 'before', "weren't", "couldn't", 'a', 'was', 'ma', 'so', 'but', "you'll", 'll', 'as', "hasn't", "don't", 'no', 'same', 'few', 'down', 'needn', 'his', 'shouldn', 'hers', 'other', 'm', 'below', "doesn't", 'doing', 'just', 'you', 'yourself', 't', 'has', 'during', 'own', "you're", 'which', 'through', 'should', 'didn', 'this', 'are', 'then', 'do', 'for', 'these', "isn't", "it's", 'our', 'herself', 'not', 'on', 'couldn', 'with', 's', 'out', 'than', 'into', 'shan', 'who', 'that', 'wouldn', 'in', 'here', 'off', 'were', 'both', 're', 'myself', 'i', 'she', "that'll", 'him', 'of', 'ourselves', 'yourselves', 'your', 'above', 'he', 'had', "wouldn't", 'wasn', "needn't", 'to', 'her', 'be', "she's", "you'd", "didn't", "haven't", 'by', 'their', "aren't", 'too', 'because', 'hasn', 'being', 'again', 'only', 'himself', "shan't", 'aren', 'my', 'after', 'y', 'haven', 'doesn', "shouldn't", 'mustn', "should've", 'between', 'o', 'does', 'and', 'yours', 'them', "you've", 'where', 'themselves', 'me', 'such', 'each', 'did', 'what', 'most', 'mightn', "hadn't", 'if', 'ours', 'd'}

In [25]:
i= 0
str1= ''
final_string= []
all_pos_words= []
all_neg_words= []
s= ''

for sent in final['Text'].values:
    filtered_sentences=[]
    sent= cleanhtml(sent) # remove html tags
    
    for w in sent.split():
        for cleaned_words in cleanpunc(w).split():
            if ((cleaned_words.isalpha()) & (len(cleaned_words)> 2)):
                if (cleaned_words.lower() not in stop):
                    s= sno.stem(cleaned_words.lower())
                    filtered_sentences.append(s)
                    if (final['Score'].values)[i]== 1:
                        all_pos_words.append(s)
                    if (final['Score'].values)[i]== 0:
                        all_neg_words.append(s)
                else:
                    continue
            else:
                continue
            
    str1= " ".join(filtered_sentences)
    
    final_string.append(str1)
    i+= 1

In [26]:
final['CleanedText']= final_string  # adding column of CleanedText
final.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,CleanedText
138706,150524,0006641040,ACITT7DI6IDDL,shari zychinski,0,0,1,939340800,EVERY book is educational,this witty little book makes my son laugh at l...,witti littl book make son laugh loud recit car...
138688,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,1,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",grew read sendak book watch realli rosi movi i...
138689,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,1,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...,fun way children learn month learn poem throug...
138690,150508,0006641040,AZGXZ2UUK6X,"Catherine Hallberg ""(Kate)""",1,1,1,1076025600,a good swingy rhythm for reading aloud,This is a great little book to read aloud- it ...,great littl book read nice rhythm well good re...
138691,150509,0006641040,A3CMRKGE0P909G,Teresa,3,4,1,1018396800,A great way to learn the months,This is a book of poetry about the months of t...,book poetri month year goe month cute littl po...

In [27]:
final[['Text', 'CleanedText']].head()

,Text,CleanedText
138706,this witty little book makes my son laugh at l...,witti littl book make son laugh loud recit car...
138688,"I grew up reading these Sendak books, and watc...",grew read sendak book watch realli rosi movi i...
138689,This is a fun way for children to learn their ...,fun way children learn month learn poem throug...
138690,This is a great little book to read aloud- it ...,great littl book read nice rhythm well good re...
138691,This is a book of poetry about the months of t...,book poetri month year goe month cute littl po...

In [28]:
final.to_csv('Cleaned_text.csv', index= False) # saving cleaned data

In [29]:
final= pd.read_csv('Cleaned_text.csv')
final.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,CleanedText
0,150524,0006641040,ACITT7DI6IDDL,shari zychinski,0,0,1,939340800,EVERY book is educational,this witty little book makes my son laugh at l...,witti littl book make son laugh loud recit car...
1,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,1,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc...",grew read sendak book watch realli rosi movi i...
2,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,1,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...,fun way children learn month learn poem throug...
3,150508,0006641040,AZGXZ2UUK6X,"Catherine Hallberg ""(Kate)""",1,1,1,1076025600,a good swingy rhythm for reading aloud,This is a great little book to read aloud- it ...,great littl book read nice rhythm well good re...
4,150509,0006641040,A3CMRKGE0P909G,Teresa,3,4,1,1018396800,A great way to learn the months,This is a book of poetry about the months of t...,book poetri month year goe month cute littl po...